.filmsPage {
  margin: 30px;
}

.fullPage {
  min-height: 100vh;
}

.createContainer {
  /* padding: 10px; */
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.text1 {
  border-color: #9399ac;
}
